# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Dataset
data/*.csv
data/*.zip
ml-100k.zip

# OS
.DS_Store
Thumbs.db